body{
	background-color: #EEEEEE;
	font-family: sans-serif; 
	
}
#back{
	position: absolute;
	top: 0;
	left:0;
	height: 100%;
	width:100%;
	z-index:0;
	
}
#back img{
	width:100%;
	height:100%;
}
#back1{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color: rgba(0,0,0,0.5);
}
#id table{
	color: #FFFFFF;
}
#id{
	position: absolute;
	top: 25%;
	right: 15%;
	border-width: medium;

	border-left: solid ;
	border-right: solid ;
	border-color: rgba(0, 0, 0, 0.2);
	text-align: center;
}
#cab1 img{ 
float: left;
width: 200px;
margin: 17px 45% 0;
}

#cab1{	
position: absolute;
background-color:#38761d;
top: 0px;
left: 0px;
width:100%;
height:75px;

}
#cab2{
position:absolute;
left:0px;
top:75px;
background-color:#274e13;
width:100%;
height:25px;
}
/* texto menu2 */
#cab2 ul{
	text-align: center;
	margin: 0;
    padding:0px;
    list-style:none;
}
#cab2 li { display: inline; }

#cab2 ul li a { /*estilo menu2*/ 
    padding: 2px 100px;
    display: inline-block;    
    text-decoration: none;
	color: #FFFFFF;
    
}
article{
	position: absolute;
	top: 20%;
	left: 50%;
    margin-left: -300px;
	}
article h1{
	color:white;
	font-size: 45px;
	margin-bottom: 0px;

}
#comoJog{
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 3px;
	border-width: 3px;
	border-style: solid;
	border-color: #38761d;
	width: 700px;
	height: 400px;
	color: white;
}
#comoJog p{
	text-align:justify;
	margin: 20px 15px 20px 15px;
	font-size: 30px;
}


#rodGeral{
   margin: 0;
   padding: 0;
   position:absolute;
   bottom:0;
   left: 0;
   width:100%;
   height:35px;   /* Mesma Altura do Rodapé */
   background:#38761d;
   
   
}
#rodGeral ul{
	margin: 0;
	padding: 0;
	text-align: left;
    list-style:none;
}
#rodGeral li { display: inline; }

#rodGeral ul li a { /*estilo menu2*/ 
	margin-left:100px;
	padding-left: 10px;
	padding-top: 8px;
    display: inline-block;    
    text-decoration: none;
	color: #FFFFFF;
}